services: # Postgres Database Service
  # Nginx Reverse Proxy Service
  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    restart: always
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certs:/etc/letsencrypt:ro
    networks:
      - my-network

networks:
  my-network:
    external: true
volumes:
  certs:
    external: true
